APP_NAME=example_guest_book
APP_ENV=dev

DB_DRIVER=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=hyperf
DB_USERNAME=user
DB_PASSWORD=user_secret
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci

DB_ROOT_PASSWORD=root_secret

REDIS_HOST=localhost
REDIS_AUTH=redis_secret
REDIS_PORT=6379
REDIS_DB=0